.hero{
    padding-top: 36px;
    margin-bottom: 168px;
}
.hero__block{
    background-repeat: no-repeat;
    background-image: url('../img/hero-destkop.png');
    background-size: cover;
    padding: 111px 24px;
    border-radius: 10px;
    height: 400px;
    padding-left: 85px;
}
.hero__title{
    font-weight: 900;
    font-size: 28px;
    line-height: 100%;
    color: #fefcf7;
    margin-bottom: 24px;
}
.hero__text{
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 167%;
    color: #fefcf7;  
}
.hero-text{
    max-width: 445px;
}
.commit{
    padding-bottom: 168px;
    .commit-inner{
        max-width:  1110px;
        margin: 0 auto;
        display: flex;
        align-items:center;
        justify-content: space-between;
         .commit-photo{
            img{
                width: 445px;
                height: 520px;
            }
         }
         .commit-text{
            width: 540px;
            h3{
                font-weight: 900;
                font-size: 40px;
                line-height: 120%;
                color: #333d4b;
                margin-bottom: 32px;
            }
            p{
                line-height: 162%;
                color: #333d4b;
                opacity: 0.8;
            }
         }
    }
    
}
.quality{
    background: #2c343e;
    height: 474px;
    width: 100%;
    .quality-inner{
        max-width: 1110px;
        margin: 0 auto;
        padding-top: 88px;
        display: flex;
        justify-content: space-between;
        position: relative;
        .quality-text{
            width: 540px;
            h3{
                    font-weight: 900;
                    font-size: 40px;
                    line-height: 120%;
                    color: #fefcf7;
                    margin-bottom: 32px;

            }
            p{
                line-height: 162%;
                color: #fefcf7;
                opacity: 0.8;
            }
        }
        .quality-photo{
            position: absolute;
            right: 0;
            top: -100px;
            img{
                width: 445px;
                height: 474px;
            }
        }
    }
}
